*{
    background-color: olivedrab;
}

table {
    border: 1px dotted rgb(7, 5, 5);
    
    margin-left: 40%;
}

td {
    border: 2px dotted black;

}
h1{
    margin-left: 40%;
    font-size: xx-large;
}